.backgroundpage2 {
  background-image: url('/src/assests/BackGroundImagePage2.png');
  background-position: center;
  background-repeat: no-repeat;
  background-size: 100% 100%;
  box-sizing: border-box;
  display: flex;
  flex-direction: column;
  height: 100vh;
  padding: 30rem 16rem 5.6rem 16rem;
  width: 100%;
}
  .inMarketing {
    color: #ffffff;
    flex-shrink: 0;
    font-family: Lato, 'Source Sans Pro';
    font-size: 1.6rem;
    font-weight: 700;
    line-height: 1.5;
    margin-bottom: 1.6rem;
    /* margin: 0px; */
    text-transform: uppercase;
    white-space: nowrap;
    display: flex;
  }
  .product {
    color: #ffffff;
    flex-shrink: 0;
    font-family: Montserrat, 'Source Sans Pro';
    font-size: 4rem;
    font-weight: 600;
    line-height: 1.2;
    /* margin-bottom: 4.8rem; */
    margin: 0px;
    display: flex;
    max-width: 29.2rem;
    text-align: left;
  }
  .linkcombo {
    align-items: center;
    display: flex;
    flex-shrink: 0;
    margin-right: 103.4rem;
    /* overflow: hidden; */
    position: relative;
    width: calc(100% - 103.4rem);
  }

    .iconarrowdown {
      flex-shrink: 0;
      height: 2.4rem;
      margin-right: 0.8rem;
      object-fit: contain;
      vertical-align: top;
      width: 2.4rem;
    }
    .explore {
      color: #ffffff !important;
      background: none;
      border: black;
      flex-shrink: 0;
      font-family: Lato, 'Source Sans Pro';
      font-size: 1.6rem;
      font-weight: 400;
      line-height: 1.5;
      text-decoration-line: underline;
      white-space: nowrap;
      display: flex;
    }
  

